nav{
    display: flex;
    flex-direction: row;
    min-height: 13vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(225deg, #000000 0%, #000000 50%, #560072 100%);
    position: fixed;
    left: 0;
    right: 0;

}
.nav-item-1 > h1 {
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
}
@media (max-width:700px) {
    .nav-item-1 > h1{
        font-size: 22px;
    }
}
